.wiki
  background-color: $white

  .card
    //padding: 0.75rem 1.25rem
    border: none
    .card-header
      padding: 0
      background-color: transparent
      border: none
      .table-link
        color: $white
        background-color: #5c80d1
        padding: 0 5px
    .card-body
      padding: 0
      p
        margin: 0